[user]
	email = jbiatek@gmail.com
	name = Jason Biatek
	signingkey = /Users/jbiatek/.ssh/id_ed25519
[push]
	default = simple
[core]
	excludesfile = /Users/jbiatek/.gitignore_global
	autocrlf = input
[alias]
	unstage = reset HEAD --
	untrack = rm --cached --
	ff = merge --ff-only
	co = checkout
	lg = log --all -n 20 --decorate --oneline --graph
	pointer = branch -f
	ls = branch -a
	fa = fetch --all
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[init]
	defaultBranch = main
[gpg]
	format = ssh
